.project-container{
    height: 800px;
    background-color: #f7f7f7;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: outset;
    margin-bottom: 30px;
}

.project-container p {
    font-size: 25px;
    text-align: center;
}

.project-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 15px;
}

.nav-link {
    color: white;
}

.home-page-intro-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    margin:auto;
    align-items: center;
    height: 400px;
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 20px;
}

.home-page-intro-container p {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}